*~

# Node
/build
/node_modules
/bower_components

# Samples
/samples/Node.js/node_modules/

# Editors
.idea

# Tests
sauce_connect.log
/coverage
/sandbox
/dailycodingproblems
dcp/**/*
.theia/
core.*
lib/
npm-debug.log
/utils
jsconfig.json
/dist
public/index.js
public/node.js
